body{background-color: rgb(66, 255, 236);}

.Enunciados{
background-color: white;}

.Preposiciones{
    background-color: red;
    background-image: url(mandalorian.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.Listasytontas{
    background-color: yellow;
}

.imagenes{
    width: max-content;
    height: max-content;
}

.Enlaces{
    background-color: green;
}

.Tablas{
    background-color: orange;
}

#div1 {
    background-color: red;
    width: 300px;
    float: left;
    height: 100px;
    padding: 20px;
  }
  #div2 {
    color: rgb(12, 9, 4);
    background-color: rgb(247, 247, 255);
    width: auto;
    height: 100px;
    padding: 20px;
    overflow: hidden;
    border: 15px solid black;
  }

  #div3{
    background-color: yellow;
    box-sizing:content-box;
    width: auto;
    height: auto;
    padding: 30px;
    border: 5px solid rgb(89, 94, 87);
  }

  #div4{
    color: rgb(244, 13, 13);
    box-sizing: border-box;
    width: auto;
    height: 5px;
    padding: 30px;
    border: 10px solid green;
  }

  h3 {
    color: aqua;
  }

  h4 {
    color: rgb(61, 64, 64);
  }

  #bandasdelmadrid {
    display: flex;
    margin: 0px;
    padding: 0px;
    background: #75ed12;
  }

  #vinicius {
    width:50px;
    background: #999;
    height: 10vh;
  }

  #rodrygo {
    width: 10%;
    background: #363;
  }

  #arribaabajoalcentroypadentro{
    padding : 500px;
    margin : 200px;
    height : 60%;
    width: 200px;
    border-top: #75ed12;
  }

  #arriba {
    background-color: rgb(17, 17, 17);
    color: white;
    width: 200px;
    height: 500%;
    margin: 80px;
  }

  #izquierda {
    background-color:rgb(247, 247, 255);
    width: 150px;
    float: left;
  }
  
  #derecha {
    background-color: #75ed12;
    float: right;
  }

  #padresahijos > p{
    color: black;
  }
  #infiltrado > h1{
    color: red;
  }

  p + p{   /*resulta que aquí no hay que nombrar el id, pero es el de cosas de heramanos*/
    color: green;
  }

  #todoalrojo *{
    color: red;
  }

  div * p{ /*resulta que aquí tampoco hay que nombrar el id, pero es el de los nietos*/
    color: black;
  }

  [a href='http://www.marca.com/'] {color: yellow;}
	[a href='http://www.as.com/'] {color: red;}
	[a href='http://www.mundodeportivo.com/'] {color: green;}
	[a href='http://www.sport.com/'] {color: black;}

  div [id*='magia'] {color: yellow;}

  a:link{color: green;}
  a:visited{color: yellow;}
  a:hover{color: blue;}
  a:active{color: red;}

  input{padding: 5px;}
  input:focus{font-size: 2em;}
  input:disabled{
    background: #ddd;
    color: #949494;
    border: 2px solid black;
  }
  input:enabled{ border: 2px solid black;}

/*
Color de los enlaces
Editar tabla
Por que si ejecuto desde aqui salta java
*/