body{background-color: blue;}

.Enunciados{
background-color: white;}

.Preposiciones{
    background-color: red;
    background-image: url(mandalorian.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.Listasytontas{
    background-color: yellow;
}

.imagenes{
    width: max-content;
    height: max-content;
}

.Enlaces{
    background-color: green;
}

.Tablas{
    background-color: orange;
}

#div1 {
    background-color: red;
    width: 300px;
    float: left;
    height: 100px;
    padding: 20px;
  }
  #div2 {
    color: rgb(12, 9, 4);
    background-color: rgb(247, 247, 255);
    width: auto;
    height: 100px;
    padding: 20px;
    overflow: hidden;
    border: 15px solid black;
  }

  #div3{
    background-color: yellow;
    box-sizing:content-box;
    width: auto;
    height: auto;
    padding: 30px;
    border: 5px solid rgb(89, 94, 87);
  }

  #div4{
    color: rgb(244, 13, 13);
    box-sizing: border-box;
    width: auto;
    height: 5px;
    padding: 30px;
    border: 10px solid green;
  }

  h3 {
    color: aqua;
  }

  h4 {
    color: rgb(61, 64, 64);
  }

  #bandasdelmadrid {
    display: flex;
    margin: 0px;
    padding: 0px;
    background: #75ed12;
  }

  #vinicius {
    width:50px;
    background: #999;
    height: 10vh;
  }

  #rodrygo {
    width: 10%;
    background: #363;
  }


/*
Color de los enlaces
Editar tabla
Por que si ejecuto desde aqui salta java
*/